In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
num_rows = data['PassengerId'].count()

print("Total Passengers =", num_rows)

Total Passengers = 891

In [5]:
survival_rate = data['Survived'].sum() / num_rows

print(f"Survival Rate = {round(survival_rate * 100, 2)}%")

Survival Rate = 38.38%

In [6]:
average_age = data['Age'].mean()

print(f"Average Age = {round(average_age, 2)} years")

Average Age = 29.7 years

In [7]:
male_passengers = data[data['Sex'] == 'male']
female_passengers = data[data['Sex'] == 'female']

print("Male Passengers =", male_passengers['Sex'].count())
print("Female Passengers =", female_passengers['Sex'].count())

Male Passengers = 577
Female Passengers = 314

In [8]:
male_survival_rate = male_passengers['Survived'].mean()
female_survival_rate = female_passengers['Survived'].mean()

print(f"Male Survival Rate = {round(male_survival_rate * 100, 2)}%")
print(f"Female Survival Rate = {round(female_survival_rate * 100, 2)}%")

Male Survival Rate = 18.89%
Female Survival Rate = 74.2%

In [9]:
data.groupby('Pclass')['PassengerId'].count()

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [10]:
data.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [11]:
data.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [12]:
sibling_count = data[(data['SibSp'] > 0) | (data['Parch'] > 0)]['PassengerId'].count()

print("Traveling with siblings =", sibling_count)

Traveling with siblings = 354

In [13]:
# For Age: Group-wise median based on the PClass and Sex

data['Age'] = data.groupby(['Pclass', 'Sex'])['Age'].transform(lambda x: x.fillna(x.median()))

In [14]:
# For Cabin: Impute the missing values with a U for unknown

data['Cabin'] = data['Cabin'].fillna('U')

In [15]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U,S